@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #facc15;
}

@layer base {
  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }
}
